@tailwind base;
@tailwind components;
@tailwind utilities;

/* ensure selects & option text remain readable in dark mode */
select, option, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

